<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:text="#{titulo.coches}">Coches</title>
  </head>
  <body>
    <h1 th:text="#{titulo.coches}">Coches</h1>
    <p th:if="${coches.isEmpty()}">Hay coches</p>
    <div th:unless="${coches.isEmpty()}">
        <table border="1">
            <tr>
                <td><p>Marca</p></td>
            </tr>
            <tr th:each="coche: ${coches}">
                <td><p th:text="${coche.marca}"></p></td>
            </tr>
        </table>
    </div>
  </body>
</html>

